.button {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(252, 252, 252, 1);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(104, 183, 56, 1);
  border: none;

  &:hover {
    background-color: rgb(94, 170, 47);
  }

  &:active {
    color: rgba(252, 252, 252, 0.3);
  }

  &--primary {
    width: 280px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 250px;
      font-size: 20px;
      margin: 0 auto;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
    }
  }

  &--main-page {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 250px;
      left: 87px;
    }

    @media (min-width: $desktop-width) {
      width: 224px;
      top: 330px;
      left: 137px;
    }
  }

  &--order {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 2 span;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 244px;
    }
  }

  &--show-more {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(242, 242, 242);
    color: rgb(68, 68, 68);

    &:hover {
      background-color: rgb(235, 235, 235);
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.programs__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
