.card-product {
  @media (min-width: $tablet-width) {
    margin: 0 36px;
  }
}

.card-product__heading {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(34, 34, 34);

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
