
.card-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 125px 125px;
    margin-bottom: 33px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 85px 85px;
  }
}

.card-desc__text {
  margin: 0;
  margin-bottom: 6px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgb(68, 68, 68);

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 6px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid rgba(205, 205, 205, 1);

    &--first {
      text-align: start;
    }

    &--second {
      text-align: end;
    }
  }
}
