.catalog-wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 110px 0 110px;
  }
}

.catalog-wrapper__heading {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
