.catalog {
  margin-bottom: 40px;


  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }
}

.catalog__heading {
  margin: 0;
  margin-bottom: 39px;
  padding-top: 24px;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 46px;
    border: none;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 165px;
    padding-top: 55px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    row-gap: 140px;
    column-gap: 60px;
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    margin-bottom: 95px;
  }
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
