.contacts {
  margin: 0 auto;
}

.contacts__wrapper {
  width: 280px;
  margin: 26px 20px;
}

.contacts__title {
  margin: 0;
  margin-right: 2px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
