.contacts {
  &--grey {
    background-color: rgb(242, 242, 242);
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 95px 0 107px;
    background-image: url("../img/location-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 1440px 400px;
  }
}

.contacts__wrapper {
  padding: 26px 20px 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 530px;
    margin-left: 110px;
    justify-content: space-between;
    background-color: #ffffff;
  }
}

.contacts__title {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-left: 40px;
  }
}

.contacts__text {
  margin: 0;
  margin-right: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 160px;
  }
}

.contacts__city {
  margin-top: 10px;
}

.contacts__map-wrapper {
  margin: 0 auto;
  width: 320px;
  height: 362px;
  background-image: url("../img/location-mobile.jpg");
  background-size: 320px 362px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/location-tablet.jpg");
    background-size: 768px 400px;
    width: 768px;
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contacts__map {
  width: 100%;
}
