.contacts {
  &--grey {
    background-color: rgb(242, 242, 242);
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 95px 0 107px;
    background-image: url("../img/location-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 1440px 400px;
  }
}

.contacts__wrapper {
  padding: 26px 20px 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 56px 40px 55px;
  }

  @media (min-width: $desktop-width) {
    width: 530px;
    padding: 56px 80px;
    margin: 0;
    margin-left: 110px;
    justify-content: space-between;
    background-color: #ffffff;
  }
}

.contacts__title {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.contacts__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.contacts__map-wrapper {
  margin: 0 auto;
  width: 320px;
  height: 362px;
  background-image: url("../img/location-mobile.jpg");
  background-size: 320px 362px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/location-tablet.jpg");
    background-size: 768px auto;
    width: 768px;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop@2x.jpg");
      background-size: 768px auto;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
}
