.copyright {
  margin-top: 50px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 38px;
  }
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}
