.copyright {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 65px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);

  &:hover {
    svg {
      fill: rgb(104, 183, 56);
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.copyright__text {
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.copyright__icon {
  fill: rgb(102, 102, 102);
}
