.extra-product {
  position: relative;
}

.extra-product__heading {
  position: absolute;
  width: 226px;
  margin: 0;
  padding-right: 22px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  top: -16px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.extra-product__heading-container {
  &::before {
    position: absolute;

    content: "";
    width: 100%;
    border-top: 2px solid rgba(104, 183, 56, 1);

    @media (min-width: $desktop-width) {
      width: 1440px;
    }
  }
}

.extra-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-left: 110px;
    margin-right: 80px;
  }
}
