.extra-product-item-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    margin-right: 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;
  }
}

.extra-product-item-desc__text {
  width: 132px;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: rgb(68, 68, 68);

  @media (min-width: $desktop-width) {
    width: 132px;
    margin-right: 112px;

    &:last-child {
      width: 44px;
      margin-right: 38px;
    }
  }
}
