.extra-product__heading {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.extra-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra-product__item {
  margin-bottom: 30px;
}
