.extra-product__heading {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.extra-product__heading-container {
  &::before {
    margin-top: 15px;
    margin-left: 250px;
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    border-top: 2px solid rgba(104, 183, 56, 1);

    @media (min-width: $desktop-width) {
      width: 1220px;
    }
  }
}

.extra-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}
