.form-program {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form-program__heading-main {
  margin: 0 20px 37px 20px;
  padding-top: 27px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 30px;
    margin-bottom: 54px;
    padding-left: 39px;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 0 57px 70px;
    padding-top: 56px;
  }
}

.form-program__heading-container {
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    border-top: 2px solid rgba(104, 183, 56, 1);
    top: 20px;
  }
}

.form-program__heading {
  width: 226px;
  margin: 0 20px 39px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin: 0 30px;
    margin-bottom: 66px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 364px;
    margin: 0 0 64px 109px;
    padding: 0;
  }
}

.form-program__container {
  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin: 0 auto;
    padding: 0;
  }
}

.form-program__item {
  display: flex;
  align-items: center;
  margin: 0 20px 13px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 15px;
  }
}

.form-program__label {
  margin-right: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-program__text-input {
  width: 100%;
  padding: 13px 0 13px 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(68, 68, 68);
  border: 1px solid rgba(231, 231, 231, 1);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 30px;
  }

  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:active {
    border-color: rgb(205, 205, 205);
  }

  &:focus {
    border: 2px solid rgba(68, 68, 68, 1);
  }

  &:invalid {
    border: 1px solid rgba(255, 130, 130, 1);
  }

  &::placeholder {
    color: rgb(68, 68, 68);
  }
}

.form-program__fieldset {
  position: relative;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  border: none;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 47px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.form-program__list {
  margin: 0;
  padding: 20px 0 20px;
  margin-bottom: 26px;
  list-style-type: none;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet-width) {
    padding: 25px 0 26px 25px;
    margin-bottom: 75px;
    border: 1px solid rgba(231, 231, 231, 1);
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
  }

  &--extra {
    margin: 0 20px;
    padding: 0;
    list-style-type: none;
    border: none;

    @media (min-width: $tablet-width) {
      margin: 0 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 20px;
      border: none;
      padding-left: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
}

.form-program__item-radio {
  padding-left: 20px;
  padding-right: 20px;

  &:not(:last-child) {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.form-program__radio-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 43px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 61px;
  }
}

.form-program__radio-label {
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.form-program__radio-box {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -5px;
  left: 0;
  background-image: url("../img/icons/radio-box.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;

  &:focus {
    border: 2px solid rgba(68, 68, 68, 1);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: -13px;
    left: 0;
    background-image: url("../img/icons/radio-box-tablet.svg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }
}

.form-program__radio-input[type="radio"] {
  &:checked + .form-program__radio-box {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -5px;
    left: 0;
    background-image: url("../img/icons/radio-checked.svg");
    background-size: 30px 30px;

    &:focus {
      border: 2px solid rgba(68, 68, 68, 1);
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: -7px;
      left: 0;
      background-image: url("../img/icons/radio-checked-tablet.svg");
      background-size: 40px 40px;
    }
  }
}

.form-program__fieldset-heading {
  position: relative;
  width: 216px;
  margin: 0;
  margin-bottom: 34px;
  padding-right: 14px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 26px;
  margin-right: 8px;
  background-color: rgb(255, 255, 255);

  &--contact {
    @media (min-width: $tablet-width) {
      width: 591px;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0 30px;
    padding-left: 39px;
    padding-right: 38px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.form-program__textarea-container {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 0 23px 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}


.form-program__textarea {
  width: 100%;
  margin-top: 38px;
  padding-top: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(231, 231, 231, 1);
  resize: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    padding-left: 19px;
    margin-top: 71px;
  }
}

.form-program__item-checkbox {
  @media (min-width: $tablet-width) {
    width: 221px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.form-program__checkbox-label {
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.form-program__checkbox {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 0;
  top: -2px;
  background-image: url("../img/icons/check-box.svg");
  background-size: 30px 30px;

  &:focus {
    border: 2px solid rgba(68, 68, 68, 1);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 0;
    top: -2px;
    background-image: url("../img/icons/check-box-tablet.svg");
    background-size: 40px 40px;
  }
}

.form-program__checkbox-input[type="checkbox"] {
  &:checked + .form-program__checkbox {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -2px;
    background-image: url("../img/icons/checked.svg");
    background-size: 30px 30px;

    &:focus + label::before {
      border: 2px solid rgba(68, 68, 68, 1);
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 40px;
      height: 40px;
      left: -3px;
      top: -8px;
      background-image: url("../img/icons/checked-tablet.svg");
      background-size: 40px 40px;
    }
  }
}

.form-program__checkbox-text {
  font-size: 16px;
  line-height: 18px;
  margin-left: 46px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 56px;
  }
}

.form-program__footnote {
  margin: 0;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 80px;
  }
}

.form-program__items-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form-program__button-container {
  margin: 0 20px;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 6px;
    margin-left: 30px;
    padding-left: 40px;
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    width: 1220px;
    margin-top: 37px;
    margin-bottom: 82px;
  }
}


.form-program__icon {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  fill: rgb(255, 255, 255);

  &--email {
    top: 17px;
    left: 263px;

    @media (min-width: $tablet-width) {
      left: 634px;
      top: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 15px;
      left: 575px;
    }
  }

  &--phone {
    top: 68px;
    left: 265px;

    @media (min-width: $tablet-width) {
      left: 633px;
      top: 91px;
    }

    @media (min-width: $desktop-width) {
      top: 13px;
      left: 1224px;
    }
  }
}
