.gift {
  width: 280px;
  min-height: 300px;
  position: relative;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    background:
      linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/gift-cat.jpg");
    background-repeat: no-repeat;
    background-size: 280px 290px;
    width: 280px;
    height: 290px;
    z-index: -1;
  }
}

.gift__text {
  margin: 48px 0 43px 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 187px 61px 0 58px;
}
