.gift {
  margin: 0 20px;
  min-height: 300px;
  position: relative;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    background:
      linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/gift-cat.jpg");
    background-repeat: no-repeat;
    background-size: 280px 290px;
    width: 280px;
    height: 290px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(
          hsl(97 53% 47% / 85%),
          hsl(97 53% 47% / 85%)
        ),
        url("../img/gift-cat-mobile@2x.jpg");
      background-size: 280px auto;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
      background:
        linear-gradient(
          hsl(97 53% 47% / 85%),
          hsl(97 53% 47% / 85%)
        ),
        url("../img/gift-cat-tablet.png");
      background-repeat: no-repeat;
      background-size: 708px 200px;

      @media (min-resolution: 2dppx) {
        background:
          linear-gradient(
            hsl(97 53% 47% / 85%),
            hsl(97 53% 47% / 85%)
          ),
          url("../img/gift-cat-tablet@2x.jpg");
        background-size: 707px 200px;
        background-repeat: no-repeat;
      }
    }

    @media (min-width: $desktop-width) {
      width: 250px;
      background:
        linear-gradient(
          hsl(97 53% 47% / 85%),
          hsl(97 53% 47% / 85%)
        ),
        url("../img/gift-cat-desktop.png");
      background-repeat: no-repeat;
      background-size: 245px 289px;

      @media (min-resolution: 2dppx) {
        background:
          linear-gradient(
            hsl(97 53% 47% / 85%),
            hsl(97 53% 47% / 85%)
          ),
          url("../img/gift-cat-desktop@2x.jpg");
        background-size: 245px 288px;
        background-repeat: no-repeat;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin: 0;
  }
}

.gift__text {
  margin: 48px 0 43px 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 187px 61px 0 58px;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 71px 124px 69px 420px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 188px 43px 42px 41px;
    text-align: center;
  }
}

.gift__icon {
  position: absolute;
  content: "";
  top: 59px;
  left: 101px;

  @media (min-width: $desktop-width) {
    left: 84px;
  }
}
