.gift {
  width: 280px;
  min-height: 300px;
  position: relative;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    background:
      linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/gift-cat.jpg");
    background-repeat: no-repeat;
    background-size: 280px 290px;
    width: 320px;
    height: 302px;
    z-index: -1;
  }
}

.gift__text {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 43px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 58px;
  padding-right: 61px;
  padding-top: 187px;
}
