.info {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 43px 30px;
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 39px auto 0 auto;
    padding-bottom: 38px;
  }
}

.info__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.info__container {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 280px;
    column-gap: 153px;
    row-gap: 94px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    margin-bottom: 69px;
  }
}

.info__item {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.info__icon {
  position: absolute;
  content: "";
  top: 10px;
  left: -65px;

  @media (min-width: $tablet-width) {
    top: -87px;
    left: 25px;
  }
}

.info__text {
  position: relative;
  margin: 0;
  margin-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: rgba(104, 183, 56, 1);
    left: -80px;
    bottom: -3px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: -115px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 147px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 136px;
  }
}

.info__number {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    color: rgb(242, 242, 242);
    z-index: -1;
    top: -25px;
    right: 4px;

    &--option-one {
      right: 31px;
    }

    &--option-three {
      right: -15px;
    }
  }
}
