.info {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 90px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 45px auto 69px auto;
  }
}

.info__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.info__container {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.info__text {
  margin: 0;
  margin-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
