.info {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 76px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 39px auto 0 auto;
    padding-bottom: 38px;
    border: none;
  }
}

.info__heading {
  margin: 0;
  margin-bottom: 43px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
    padding-top: 15px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.info__container {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: grid;
    grid-template-columns: 230px 280px;
    column-gap: 153px;
    row-gap: 73px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 87px;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 39px;
  }
}

.info__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.info__icon {
  position: absolute;
  content: "";
  top: 10px;
  left: -65px;

  @media (min-width: $tablet-width) {
    top: -88px;
    left: 23px;

    &--product {
      top: -89px;
      left: 25px;
    }

    &--tableware {
      left: 27px;
    }

    &--clock {
      top: -90px;
      left: 25px;
    }
  }
}

.info__text {
  position: relative;
  margin: 0;
  margin-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: rgba(104, 183, 56, 1);
    left: -80px;
    bottom: -3px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: -113px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 147px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 185px;

    &--option-two {
      margin-left: 8px;
    }

    &--option-four {
      left: -10px;
    }
  }
}

.info__number {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    color: rgb(242, 242, 242);
    z-index: -1;
    top: -25px;
    right: 4px;

    &--option-one {
      left: 118px;
      top: -27px;
    }

    &--option-two {
      left: 113px;
      top: -27px;
    }

    &--option-three {
      right: -15px;
    }

    &--option-four {
      top: -26px;
      right: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 12px;
    left: 119px;

    &--option-three {
      left: 113px;
    }

    &--option-four {
      left: 104px;
    }
  }
}
