.logo {
  margin: 0 auto;
}

.logo__image {
  margin-right: 57px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 12px;
  }
}

.logo__text {
  margin-right: 65px;
}
