.main-header {
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}
