.programs {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 330px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 570px 570px;
    row-gap: 80px;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 33px 20px 20px;
  background-color: rgba(242, 242, 242, 1);

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(104, 183, 56, 1);
    border-radius: 50px;
    top: 21px;
    left: 20px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      left: 450px;
      top: 81px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      width: 100px;
      height: 100px;
      left: 52px;
      top: 41px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 0 53px 52px;
    margin-bottom: 30px;
  }
}

.programs__icon-item {
  position: absolute;
  content: "";
  top: 17px;
  left: 28px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 71px;
    left: 481px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 37px;
    left: 65px;
  }

  &--option {
    top: 35px;
    left: 11px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      top: 120px;
      left: 410px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 65px;
      left: 35px;
    }
  }
}

.programs__heading {
  margin: 0 0 29px 69px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.programs__text {
  margin: 0;
  margin-bottom: 38px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet-width) {
    margin: 24px 316px 48px 0;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.programs__button {
  &:hover svg {
    transform: scaleX(1.4);
  }

  &:active svg {
    transform: scaleX(1.4);
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__button-icon {
  margin-left: 15px;
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;
}
