.programs {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 353px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 570px 570px;
    row-gap: 80px;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 33px 20px 20px;
  background-color: rgba(242, 242, 242, 1);

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(104, 183, 56, 1);
    border-radius: 50px;
    top: 24px;
    left: 23px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      left: 448px;
      top: 89px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      width: 100px;
      height: 100px;
      left: 52px;
      top: 48px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 74px 0 59px 52px;
    margin-bottom: 30px;

    &--option {
      padding-top: 77px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    margin-bottom: 31px;
  }
}

.programs__icon-item {
  position: absolute;
  content: "";
  top: 20px;
  left: 29px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 78px;
    left: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 130px;
    top: 26px;
    left: 67px;
  }

  &--option {
    top: 35px;
    left: 11px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      top: 134px;
      left: 412px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 68px;
      left: 33px;
    }
  }
}


.programs__heading {
  margin: 0 0 28px 70px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 74px;
  }
}

.programs__text {
  margin: 0;
  margin-bottom: 41px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet-width) {
    margin: 24px 316px 49px 0;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 95%;
    margin-bottom: 27px;
  }
}

.programs__button {
  &:hover svg {
    transform: scaleX(1.4);
  }

  &:active svg {
    transform: scaleX(1.4);
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__button-icon {
  margin-left: 14px;
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
    padding-bottom: 4px;
  }
}
