.show-more {
  position: relative;
  margin-top: 78px;

  @media (min-width: $tablet-width) {
    margin-top: 112px;
  }
}

.show-more__icon {
  position: absolute;
  content: "";
  top: -50px;
  left: 145px;

  @media (min-width: $desktop-width) {
    left: 109px;
  }
}

.show-more__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin: 49px auto 23px;
    padding-top: 49px;
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto 87px;
  }
}
