.show-more {
  position: relative;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 112px;
  }
}

.show-more__icon {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/show-more-mobile.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  top: -54px;
  left: 145px;

  @media (min-width: $tablet-width) {
    top: -79px;
    left: 132px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/show-more-tablet.svg");
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }

  @media (min-width: $desktop-width) {
    left: 91px;
  }
}

.show-more__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin: 49px auto 23px;
    padding-top: 32px;
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto 87px;
  }
}
