.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.site-list__item {
  position: relative;
  display: block;
  padding: 22px 0 24px 0;
  border-top: 1px solid rgba(230, 230, 230, 1);
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border: none;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &--active {
      border-bottom: 2px solid rgba(104, 183, 56, 1);
    }

    &--main-page-active {
      @media (min-width: $tablet-width) {
        border-bottom: 2px solid rgba(104, 183, 56, 1);
      }

      @media (min-width: $desktop-width) {
        border-bottom: 2px solid rgb(255, 255, 255);
      }
    }
  }
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  color: rgb(0, 0, 0);

  &--main-page {
    @media (min-width: $desktop-width) {
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 400;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
