.slogan {
  width: 280px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
  padding-top: 27px;

  &::before {
    position: absolute;
    content: "";
    background:
      linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/background-wrapper.jpg");
    background-repeat: no-repeat;
    background-size: 320px 302px;
    width: 320px;
    height: 302px;
    z-index: -1;
    bottom: 180px;
    left: -20px;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }
}

.slogan__heading-main {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255);
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.slogan__heading {
  margin: 25px 0 29px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgb(252, 252, 252);
  text-align: center;
}
