.stats {
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.stats__wrapper {
  margin: 0 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.stats__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.stats__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.stats__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
  }
}

.stats__item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}

.stats__text-big {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats__text-small {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: rgba(68, 68, 68, 1);
}

.stats__sum {
  margin: 20px 0 40px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
